.backgroundVideoGlobal {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: center;
  z-index: -10; /* Way behind everything */
  pointer-events: none;
  filter: brightness(50%);
}